# Build
_site/
.sass-cache/
.jekyll-cache/

# Dependências
vendor/
.bundle/
Gemfile.lock

# Sistema
.DS_Store
*.swp
*.log
*.code-workspace
fxlip.sh

# Segredos
.env
*.pem

# IDE
.vscode/
.idea/
logs/

# Gems
*.gem

# Node
node_modules/

# Claude Code
CLAUDE.md
.claude/

# wrangler files
.wrangler
workers/.dev.vars
workers/.dev.vars.*
!workers/.dev.vars.example
