# Build
_site/
.sass-cache/
.jekyll-cache/

# Dependências
vendor/
.bundle/
Gemfile.lock

# Sistema
.DS_Store
*.swp
*.log
*.code-workspace
fxlip.sh

# Segredos
.env
workers/

# IDE
.vscode/
.idea/
logs/

# Gems
*.gem

# Claude Code
CLAUDE.md
.claude/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
