<footer class="footer">
        <span class="footer__copyleft"><span class="copyleft__symbol">&copy;</span> 2017-{{ site.time | date: '%Y' }} -- <a href="https://github.com/fel1p/www" title="Código Fonte" target="_blank">Todos os direitos revertidos.</a></span>
      </footer>

      <!-- Scripts -->
      <script type="text/javascript" src="{{ site.baseurl }}/asset/js/jquery.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/asset/js/main.js?{{site.time | date: '%s%N'}}"></script>
