
    <!-- Se o usuário estiver no celular o menu será esse -->
    <span class="mobile btn-mobile-menu">
      <i class="fas btn-mobile-menu__icon fa-bars"></i>
      <i class="fas btn-mobile-close__icon hidden fa-times"></i>
    </span>

    <!-- A home do site será o header -->
    <header class="panel-cover" style="background: url({{ site.baseurl }}/asset/images/background.gif) repeat">
      <div class="panel-main">
        <div class="panel-main__inner panel-inverted">
          <div class="panel-main__content">

            <!-- Avatar -->
            <a href="{{ site.baseurl }}/" title="Link pra home">
              <div class="nb-spinner" width="46px"></div>
              <img src="{{ site.baseurl }}/asset/images/profile6.png" class="user-image" alt="Euzinho">
              <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
            </a>
            <hr class="panel-cover__divider">

            <!-- Descrição -->
            <p class="panel-cover__description">{{ site.description }}</p>
            <hr class="panel-cover__divider panel-cover__divider--secondary">

            <!-- Opções -->
            <div class="navigation-wrapper">

              <!-- Blog -->
              <nav class="cover-navigation cover-navigation--primary">
                <ul class="navigation">
                  <!-- RSS -->
                  <li class="navigation__item"><a href="{{ site.baseurl }}/feed.xml" title="Assinar!" target="_blank" style="padding-top: 8px;padding-left: 10px;padding-bottom: 10px;padding-right: 10px;"><i class="fas fa-rss" style="transform: rotate(270deg);"></i></a></li>
                  <!-- Conteudo -->
                  <li class="navigation__item"><a href="{{ site.baseurl }}/#blog" title="Ler as publicações" class="blog-button">Blog</a></li>
                </ul>
              </nav>

              <!-- Redes sociais -->
              <nav class="cover-navigation navigation--social">
                <ul class="navigation">
                {% if site.author.github_username %}
                  <!-- GitHub -->
                  <li class="navigation__item">
                    <a href="http://github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} no GitHub" target="_blank">
                      <i class="fab fa-github"></i>
                      <span class="label">GitHub</span>
                    </a>
                  </li>
                {% endif %}{% if site.author.twitter_username %}
                  <!-- Twitter 
                  <li class="navigation__item">
                    <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} no Twitter" target="_blank">
                      <i class="fab fa-twitter"></i>
                      <span class="label">Twitter</span>
                    </a> 
                  </li> -->
                {% endif %}{% if site.author.telegram_username %}
                  <!-- Telegram -->
                  <li class="navigation__item">
                    <a href="http://t.me/{{ site.author.telegram_username }}" title="{{ site.author.telegram_username }} no Telegram" target="_blank">
                      <i class="fab fa-telegram"></i>
                      <span class="label">Telegram</span>
                    </a>
                  </li>
                {% endif %}{% if site.author.email %}
                  <!-- Email -->
                  <li class="navigation__item">
                    <a href="mailto:{{ site.author.email }}" title="Fale comigo" target="_blank">
                      <i class="fas fa-envelope"></i>
                      <span class="label">Email</span>
                    </a>
                  </li>
                {% endif %}{% if site.author.discord_link %}
                  <!-- O link do Discord fica oculto por enquanto
                  <li class="navigation__item">
                    <a href="http://discordapp.com/invite/{{ site.author.discord_link }}" title="The Chain Gang no Discord" target="_blank">
                      <i class="fab fa-discord"></i>
                      <span class="label">Discord</span>
                    </a>
                  </li> -->
                {% endif %}{% if site.author.steam_username %}
                  <!-- Steam -->
                  <li class="navigation__item">
                    <a href="http://steamcommunity.com/id/{{ site.author.steam_username }}" title="{{ site.author.steam_username }} na Steam" target="_blank">
                      <i class="fab fa-steam"></i>
                      <span class="label">Steam</span>
                    </a>
                  </li>
                {% endif %}{% if site.author.psn_username %}
                  <!-- PSN -->
                  <li class="navigation__item">
                    <a href="http://psnprofiles.com/{{ site.author.psn_username }}" title="{{ site.author.psn_username }} na PSN" target="_blank">
                      <i class="fab fa-playstation"></i>
                      <span class="label">Playstation Network</span>
                    </a>
                  </li>
                {% endif %}{% if site.author.strava_link %}
                  <!-- O Strava vai ficar oculto também
                  <li class="navigation__item">
                    <a href="http://strava.com/athletes/{{ site.author.strava_link }}" title="Minhas atividades no Strava" target="_blank">
                      <i class="fab fa-strava"></i>
                      <span class="label">Strava</span>
                    </a>
                  </li> -->
                {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="panel-cover--overlay"></div>
      </div>
    </header>
