<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {%- if page.url == "/" -%}
    fxlip
  {%- else -%}
    fxlip
    {%- if page.categories.size > 0 -%}
      /{{ page.categories | join: '/' }}
    {%- endif -%}
    {%- if page.tags.size > 0 -%}
      /{{ page.tags | join: '/' }}
    {%- endif -%}
    /{{ page.title | replace: '/', '' | strip }}
  {%- endif -%}
</title>

{%- seo title=false -%}

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" >
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">