<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {%- if page.url == "/" -%}
    Felip Barbosa de Medeiros
  {%- else -%}
    fxlip
    {%- if page.categories.size > 0 -%}
      /{{ page.categories | join: '/' }}
    {%- endif -%}
    {%- if page.tags.size > 0 -%}
      /{{ page.tags | join: '/' }}
    {%- endif -%}
    /{{ page.title | replace: '/', '' | strip }}
  {%- endif -%}
</title>

<meta name="robots" content="index, follow, noarchive">

<meta name="description" content="{{ page.description | default: site.description }}">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "fxlip", 
  "alternateName": ["Felip Barbosa de Medeiros", "Felip"],
  "url": "https://felip.com.br/"
}
</script>

{%- seo title=false -%}
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" >
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">