<script>
function get_youtube_id(url) {
    var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
    return (url.match(p)) ? RegExp.$1 : false;
}
function vimeo_embed(url, el) {
    fetch('https://vimeo.com/api/oembed.json?url=' + encodeURIComponent(url))
      .then(function(response) { return response.json(); })
      .then(function(response) {
        if (response.video_id) {
          var id = response.video_id;
          var autoplay = url.indexOf('autoplay=1') !== -1 ? 1 : 0;
          var loop = url.indexOf('loop=1') !== -1 ? 1 : 0;
          var theInnerHTML = '<div class="video-wrapper"><iframe src="https://player.vimeo.com/video/' + id + '/?byline=0&title=0&portrait=0';
          if (autoplay) theInnerHTML += '&autoplay=1';
          if (loop) theInnerHTML += '&loop=1';
          theInnerHTML += '" allowfullscreen></iframe></div>';
          el.innerHTML = theInnerHTML;
        }
      })
      .catch(function() {});
}
function video_embed() {
    var paragraphs = document.querySelectorAll('p');
    for (var i = 0; i < paragraphs.length; i++) {
        var text = paragraphs[i].innerHTML.trim();
        if (text.indexOf("http://") === 0 || text.indexOf("https://") === 0) {
            var youtube_id = get_youtube_id(text);
            if (youtube_id) {
                var autoplay = text.indexOf('autoplay=1') !== -1 ? 1 : 0;
                var loop = text.indexOf('loop=1') !== -1 ? 1 : 0;
                var theInnerHTML = '<div class="video-wrapper"><iframe src="https://www.youtube.com/embed/' + youtube_id + '?rel=0';
                if (autoplay) theInnerHTML += '&autoplay=1';
                if (loop) theInnerHTML += '&loop=1&playlist=' + youtube_id;
                theInnerHTML += '" frameborder="0" allowfullscreen></iframe></div>';
                paragraphs[i].innerHTML = theInnerHTML;
            }
            if (text.indexOf('vimeo.com') !== -1) {
                vimeo_embed(text, paragraphs[i]);
            }
        }
    }
}
video_embed();
</script>
