<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/#blog" title="Página Anterior">← </a>
    {% else %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/page{{ paginator.previous_page }}/" title="Página Anterior">← </a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <a rel="next" class="posts older btn small" href="{{ site.baseurl }}/page{{ paginator.next_page }}/" title="Próxima Página"> →</a>
  {% endif %}
</nav>
