---
layout: default
---
<article class="post-container post-container--single">
          <header class="post-header">
            <div class="post-meta">
              <!-- Data em pt-br -->
              <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}" class="post-meta__date date">{% assign m = page.date | date: "%-m" %}
                {% case m %}
                  {% when '1' %}Janeiro de
                  {% when '2' %}Fevereiro de
                  {% when '3' %}Março de
                  {% when '4' %}Abril de
                  {% when '5' %}Maio de
                  {% when '6' %}Junho de
                  {% when '7' %}Julho de
                  {% when '8' %}Agosto de
                  {% when '9' %}Setembro de
                  {% when '10' %}Outubro de
                  {% when '11' %}Novembro de
                  {% when '12' %}Dezembro de
                {% endcase %}{{ page.date | date: "%Y" }}
              </time>
              <!--{% if page.tags.size > 0 %}
              &#8226;<span class="post-meta__tags">em {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
              {% endif %}-->
            </div>
            <h1 class="post-title">{{ page.title }}</h1>
          </header>

          <section class="post">
            {{ content }}
          </section>
        </article>
