---
layout: default
---
{%- if page.exams -%}
  {%- assign bank = "" | split: "" -%}
  {%- for e in page.exams -%}
    {%- assign part = site.data.questions[e] -%}
    {%- if part -%}
      {%- assign bank = bank | concat: part -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- assign bank = site.data.questions[page.exam] -%}
{%- endif -%}
<script>
window.__questionBank  = {{ bank | jsonify }};
window.__quizConfig    = {{ page.config | jsonify }};
window.__topicTitles   = {{ page.topic_titles | jsonify }};
window.__examMeta      = {
  type:  '{% if page.exams %}prova{% else %}topico{% endif %}',
  label: '{% if page.exams %}{{ page.tags | first }}{% else %}{{ page.exam }}{% endif %}'
};
</script>

<article class="post">
  <div class="post-content">
    {{ content }}
  </div>
</article>
